.task {
    border: 1px solid rgb(41, 72, 73);
    border-radius: 10px;
    text-align: center;

    margin: 10px;
    width: 400px;

    background-color: cadetblue;
}

.task h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

.task-title {
    display: flex;
}

.task-title-text-input {
    background-color: transparent;
    border: none;
    outline: none;
}

.task-description-text-input {
    width: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
}


.task-title-children {
    margin-left: auto;
}