html, body {
    margin: 0px;
    padding: 0px;

    color:aliceblue;
    background-color: rgb(34, 36, 48);

    height: 100vh;
}


/* for debugging 
* {
  background: none !important;
  color: black !important;
  box-shadow: none !important;
  outline: 2px solid rgba(0,0,0,0.2) !important;
  border: none !important;
} */


#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

.Menu {
    background-color: rgb(18, 19, 26);

    flex: 0 0 10%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 100%;
}

.main-container {
    margin: 0px;
    flex: 0 10 90%;

    width: 90%;
    min-height: unset;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Filters {
    text-align: center;
    width: fit-content;
    /* display: flex;
    flex-direction: column; */
}

.add-task-button {
    width: fit-content;
}

.task-list {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    width: fit-content;
}

.Dragable {
    flex: 0 1 400px;
    min-width: 0px;

    /* width: 400px; */
    /* to prevent scrolling */
    touch-action: none;
}