html, body {
    margin: 0px;
    padding: 0px;

    color:aliceblue;
    background-color: rgb(34, 36, 48);

    height: 100vh;
}

#root {
    height: 100%;
}

.App {
    display: flex;

    min-height: 100%;
}

.Menu {
    background-color: rgb(18, 19, 26);

    display:flex;
    flex-direction: column;
}

.main-container {
    width: 100%;
    min-height: 100%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Filters {
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}

.add-task-button {
    width: fit-content;
}

.task-list {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Dragable {
    /* to prevent scrolling */
    touch-action: none; 
}